body {
    font-family: "Poppins", sans-serif;
}

.hero {
    width: 100%;
    background-color: #08068f;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0px;
}

.upload {
    position: absolute;
    right: 71%;
    top: 57%;
    display: inline-block;
    padding: 15px 0;
    background-color: #ffffff;
    color: #000000;
    border-radius: 30px;
    font-size: 18px;
    vertical-align: middle;
    padding-bottom: 1.24%;
}

.predict {
    position: absolute;
    right: 62%;
    top: 57%;
    display: inline-block;
    padding: 15px 0;
    background-color: #ffe771;
    color: #000000;
    border-radius: 30px;
    font-size: 18px;
    vertical-align: middle;
    padding-bottom: 1.24%;
}

.image {
    visibility: hidden;
    position: absolute;
    right: 10%;
    top: 20%;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}

.result {
    position: absolute;
    top: 60%;
    left: 19%;
    color: #ffe771;
    align-content: center;
    font-size: 65px;
}

.details {
    font-size: 60px;
    width: 25px;
    position: absolute;
    top: 25%;
    left: 19%;
    color: #ffffff;
    line-height: 65px;
}

.details_2 {
    font-size: 20px;
    position: absolute;
    top: 49%;
    left: 19%;
    color: #ffffff;
}
  
.details h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

@media (max-width: 1120px) {
    .upload {
        position: absolute;
        right: 71%;
        top: 60%;
        display: inline-block;
        padding: 15px 0;
        background-color: #ffffff;
        color: #000000;
        border-radius: 30px;
        font-size: 18px;
        vertical-align: middle;
        padding-bottom: 1.24%;
    }
    
    .predict {
        position: absolute;
        right: 62%;
        top: 57%;
        display: inline-block;
        padding: 15px 0;
        background-color: #ffe771;
        color: #000000;
        border-radius: 30px;
        font-size: 18px;
        vertical-align: middle;
        padding-bottom: 1.24%;
    }
    
    .image {
        visibility: hidden;
        position: absolute;
        right: 10%;
        top: 20%;
        width: 400px;
        height: 400px;
        border-radius: 15px;
    }
    
    .result {
        position: absolute;
        top: 60%;
        left: 19%;
        color: #ffe771;
        align-content: center;
        font-size: 65px;
    }
    
    .details {
        font-size: 60px;
        width: 25px;
        position: absolute;
        top: 25%;
        left: 19%;
        color: #ffffff;
        line-height: 65px;
    }
    
    .details_2 {
        font-size: 20px;
        position: absolute;
        top: 49%;
        left: 19%;
        color: #ffffff;
    }
      
    .details h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 30px;
    }
}

@media (max-height: 800px) {
    .upload {
        position: absolute;
        right: 71%;
        top: 60%;
        display: inline-block;
        padding: 15px 0;
        background-color: #ffffff;
        color: #000000;
        border-radius: 30px;
        font-size: 18px;
        vertical-align: middle;
        padding-bottom: 1.24%;
    }
    
    .predict {
        position: absolute;
        right: 62%;
        top: 60%;
        display: inline-block;
        padding: 15px 0;
        background-color: #ffe771;
        color: #000000;
        border-radius: 30px;
        font-size: 18px;
        vertical-align: middle;
        padding-bottom: 1.24%;
    }
    
    .image {
        visibility: hidden;
        position: absolute;
        right: 10%;
        top: 20%;
        width: 400px;
        height: 400px;
        border-radius: 15px;
    }
    
    .result {
        position: absolute;
        top: 60%;
        left: 19%;
        color: #ffe771;
        align-content: center;
        font-size: 65px;
    }
    
    .details {
        font-size: 60px;
        width: 25px;
        position: absolute;
        top: 25%;
        left: 19%;
        color: #ffffff;
        line-height: 65px;
    }
    
    .details_2 {
        font-size: 20px;
        position: absolute;
        top: 52%;
        left: 19%;
        color: #ffffff;
    }
      
    .details h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 30px;
    }
}





